ul {
    list-style-type: none;
}


.hide {
    display: none;
}


.entrycontent {
    padding: 7px;
    margin-bottom: 5px;
    border: solid thin darkgrey;
    border-radius: 3px;
    box-shadow: 0px 3px 17px 1px rgba(0,0,0,0.07);
    font-size: small;
}

.secondColfloat {
    width: 55%;
    float: right;
    clear: left;
    margin-left: 13px;
    word-wrap: break-word;
}

.firstColfloat {
    width: 40%;
    float: left;
    word-wrap: break-word;
}

.badge {
    text-align: center;
}

#searchListHTML {
    margin: 5px;
}

.container-fluid {
    margin: 0;
}