.centertext {
    text-align: center;
}

.navbar-brand {
    text-decoration: none;
}

a.navbar-brand {
    color: inherit;
    cursor: pointer;
    font-size: xx-large;
}

.fixed-top {
    border-bottom: solid thin gray;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}