.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: solid thin black;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 25%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

.facebookButton {
    text-align: center;
}